In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('kc_house_data_train.csv')

df.rename(columns = {'Unnamed: 0': 'index'}, inplace = True)

df.set_index('index', inplace = True)

In [5]:
dummy = pd.get_dummies(df.condition)

df_condition = pd.concat([dummy,df], axis = 1)

dummy = pd.get_dummies(df.condition)

df_condition = pd.concat([dummy,df], axis = 1)

df_condition = df_condition[[1,2,3,4,5]]

df_condition.columns = ['Condition_1',"Condition_2","Condition_3","Condition_4","Condition_5"]

In [15]:
dummy = pd.get_dummies(df.grade)

df_grade = pd.concat([dummy,df], axis = 1)

dummy = pd.get_dummies(df.grade)

df_grade = pd.concat([dummy,df], axis = 1)

df_grade = df_grade[[1,3,4,5,6,7,8,9,10,11]]

df_grade.columns = ['Grade_1',"Grade_2","Grade_3","Grade_4","Grade_5",'Grade_7','Grade_8','Grade_9','Grade_10','Grade_11']

In [11]:
df_grade

,Grade_1,Grade_2,Grade_3,Grade_4,Grade_5,Grade_7,Grade_8,Grade_9,Grade_10,Grade_11
index,,,,,,,,,,
0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
17285,0,0,0,0,0,0,1,0,0,0
17286,0,0,0,0,0,1,0,0,0,0
17287,0,0,0,0,0,1,0,0,0,0
17288,0,0,0,0,0,1,0,0,0,0
17289,0,0,0,0,0,1,0,0,0,0

In [12]:
df = pd.concat([df_condition,df], axis = 1)
#df = pd.concat([df_grade,df], axis = 1)